body{
    background-color: #F1FFE7;
}
h4{
    color: #32A287;
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin-top: 50px;
}
.form-fields{
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 30px;
}
.form-control{
    border-radius: 10px;
    background-color: #F1FFE7;
    box-shadow: none;
    border: 0.5px solid #32A287;
}
.form-control:focus{
    background-color: #F1FFE7;
    color: black;
    box-shadow:none;
    border: 1px solid #32A287; 
}
.col-form-label{
    color: #32A287;
    padding-left: 75px;
    font-weight: 600;
}
.btn-signup{
    position: absolute;
    align-items: center;
    background-color: #32A287;
    color: white;
    justify-content: center;
    margin-left: 290px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: large;
    border: 1px solid black 

}
.btn-signup:hover{
    background-color: #32A287!important;
    color: white !important;
}
.btn-signup:focus{
    background-color: #32A287 !important;
    color: white !important;
}
.text-link{
    margin-left: 5em;
    margin-top: 130px;
    justify-content: center;
    text-align: center;
}
.back-to-login{
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: larger;
    position: relative;
    right: 15em;
    font-weight: 600;
}