<!--
    The base model class where all other templates will extend from.
-->

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
        Document title
    -->
    {{% block title%}} {{% endblock %}}

    <!--
        The header for each page
    -->
    {{% block header%}} {{% endblock %}}

</head>

<body>
    <!--
        The main body for each page content
    -->
    {{% block content%}} {{% endblock %}}

    <!--
        The footer for each page
    -->
    {{% block footer%}} {{% endblock %}}

</body>

</html>