{% extends "base.html" %} {% block title %}Votes Result{% endblock %} {% block header %}
<h2 style="color: green; font-size: medium; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 600; text-transform: capitalize; text-align: center;">
    The Voters Page
</h2>
{% endblock %} {% block content %}
<table border="1" style="border-style: groove;border-spacing: 10%;">
    <thead>
        <tr>
            <th>Candidate</th>
            <th>Id</th>
            <th>Email</th>
            <th>RegNo</th>
            <th>Campus</th>
            <th>School</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in rows %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td id="email-{{ candidate.id }}">{{ candidate.id }}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.regNo}}</td>
            <td>{{candidate.campus}}</td>
            <td>{{candidate.school}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2 style="color: green; font-size: medium; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 600;">
    The Campuses
</h2>
<ul>
    {% for campus in campuses %}
    <li>{{ campus }}</li>
    {% endfor %}
</ul>

<h3>
    Colleges
</h3>
<ul>
    {% for college in colleges %}
    <li>{{ college }}</li>
    {% endfor %}
</ul>

<h3>
    Schools

</h3>
<ul>
    {% for school in schools %}
    <li>{{ school }}</li>
    {% endfor %}
</ul>

<h3>
    Courses
</h3>
<ul>
    {% for course in courses %}
    <li>{{ course }}</li>
    {% endfor %}
</ul>


{% endblock %} {% block footer %}
<h2 style="color: green; font-size: medium; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 600;">
    The Voters Page
</h2>

{% endblock %}