{% extends "base.html" %} {% block title %}Votes Result{% endblock %} {% block content %}
<table border="2">
    <thead>
        <tr>
            <th>Candidate</th>
            <th>Id</th>
            <th>Email</th>
            <th>RegNo</th>
            <th>Campus</th>
            <th>School</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in rows %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td id="email-{{ candidate.id }}">{{ candidate.id }}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.regNo}}</td>
            <td>{{candidate.campus}}</td>
            <td>{{candidate.school}}</td>
            <td>{{candidate.password}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}